.col-md-6 {
    padding: 0px;
    width: 200px;
}

.right-side-nav {
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

a {
    font-size: 20px;
}

.icons {
    margin-top: 12px;
}